.map_container {
  position:relative;
}

#map {
  width: 100%;
}

.animals_hover {
  position: absolute;
  width:66px;
  height:66px;
}

.animals {
  border-radius: 50%/50%;
  width:12%;
  min-width:60px;
  border: 3px solid #ff00ff;
}

#jaguar_position {
  top: 50%;
  left: 22%;
}

#ocelot_position {
  top: 65%;
  left: 32%;
}

#gray_wolf_position {
  top: 42%;
  left: 19%;
}

#monk_seal_position {
  top: 47%;
  left: 10%;
}

#african_wild_dog_position {
  top: 54%;
  left: 50%;
}

#manatee_position {
  top: 50%;
  left: 60%;
}

#argali_position {
  top: 37%;
  left: 62%;
}

#gazelle_position {
  top: 34%;
  left: 54%;
}

#whale_shark_position {
  top: 62%;
  left: 40%;
}

#asiatic_lion_position {
  top: 41%;
  left: 68%;
}

.header {
  font-style:italic;
  text-align:center;
  font-size:200%;
}

p {
  visibility:hidden;
  font-size: 1.2rem;
text-shadow: 2px 2px 4px white;}

.animals_hover:hover p {
  visibility:visible;
}
