/*img {
  width:90%;
  height:90%;
}*/

.map_container {
  position:relative;
}

#map {
  width: 100%;
}

.map {
  position:fixed;
}

.animals {
  width:5%;
}

#jaguar {
  position: absolute;
  top: 51%;
  left: 22%;
}

#ocelot {
  position: absolute;
  top: 65%;
  left: 32%;
}

#gray_wolf {
  position: absolute;
  top: 42%;
  left: 20%;
}

#monk_seal {
  position: absolute;
  top: 47%;
  left: 10%;
}

#african_wild_dog {
  position: absolute;
  top: 54%;
  left: 50%;
}

#manatee {
  position: absolute;
  top: 50%;
  left: 60%;
}
